In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/billboard.csv')
df = pd.DataFrame(data)
df.head(1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop([col for col in df.columns if "6" in col], axis=1, inplace=True)
df.head(1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x55th.week,x57th.week,x58th.week,x59th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop([col for col in df.columns if col[:1] == 'x'], axis=1, inplace=True)
df.head(1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18