In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/billboard_weeks_edited.csv')
df = pd.DataFrame(data)
df.head(1)

,year,artist,track,time,genre,entered,peaked,1,2,3,...,67,68,69,70,71,72,73,74,75,76
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop('year', axis=1, inplace=True)
df.head(1)

,artist,track,time,genre,entered,peaked,1,2,3,4,...,67,68,69,70,71,72,73,74,75,76
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(['entered', 'peaked'], axis=1, inplace=False)[:1]

,artist,track,time,genre,1,2,3,4,5,6,...,67,68,69,70,71,72,73,74,75,76
0,Destiny's Child,Independent Women Part I,3:38,Rock,78,63.0,49.0,33.0,23.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN