In [1]:
import urllib
import pandas as pd

In [2]:
data_url = "http://instantinate.com/data/sales_data.html"
urllib.urlretrieve (data_url, "sales.data")
data = pd.read_csv('sales.data', delimiter='\s+')
df = pd.DataFrame(data)
df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90